@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap');

/* SELECTOR ID */
#bodyContent{
    width: 900px;
    height: 1000px;
    justify-self: center;
    margin: 0;
}

#header {
    width: auto;
    height: 15%;
    background-color: #544536;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#nav {
    width: auto;
    height: 5%;
}

#mainSection {
    height: 65%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2e2823;

}

#aside {
    width: 35%;
    height: 97%;
    background-color: #4d433b;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer{
    width: auto;
    height: 5%;
}

#asideContent{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* SELECTOR CLASE */
.encabezado{
    font-family: "Stardos Stencil", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    color: white;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.barraNavegacion{
    display: flex;
    justify-content: center;
    text-align: justify;
    background-color: #58391f;
}

.texto{
    font-family: "Stardos Stencil", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: justify;
    font-size: 16px;
}

.horizontal{
    display: inline;
    margin: 2em;
}

.img{
    display: flex;
    justify-content: center;
}

/* SELECTOR HTML */
ul{
    text-align: center;
    padding: 0;
    text-align: justify;
}

li{
    font-family: "Stardos Stencil", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
}

footer{
    background-color: #58391f;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Stardos Stencil", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    text-align: justify;
}

img{
    width: 100px;
    height: 70px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10%;
    box-shadow: 0 2px 6px black;
}

a{
    color: white;
}

main{
    width: 100%;
    padding: 30px;
}